<%
	sender = User.find(@message.user_id)
	sender_name = sender.firstname + " " + sender.lastname
	receiver = User.find(@message.recipient_id)
	receiver_name = receiver.firstname + " " + receiver.lastname
	
	hasbeenread = "Not Yet"
 	if @message.hasbeenread 
		hasbeenread = "Yes"
	end
%>
<h1>Message Details</h1>
<br>
<div id="pagecontent">
<div class="top-left"></div><div class="top-right"></div>
	<div class="inside">
		<p class="notopgap">&nbsp;</p>
			<!-- Start Of Content -->
	  <h2>
	  <table>
		<tr>
			<td align="right">Sender:</td><td width="10"></td><td><%=h sender_name %></td>
		</tr>
		<tr><td colspan="2"></td></tr>
		<tr>
			<td align="right">Recipient:</td><td width="10"></td><td> <%=h receiver_name %></td>
		</tr>
		<tr><td colspan="2"></td></tr>
		<tr>
			<td align="right">Subject:</td><td width="10"></td><td> <%=h @message.subject %></td>
		</tr>
		<tr>
			<td align="right">Has Been Read:</td><td width="10"></td><td> <%=h hasbeenread %></td>
		</tr>
		<tr><td colspan="2"></td></tr>
		<tr>
			<td align="right">Message:</td><td width="10"></td><td> <%=h @message.message %></td>
		</tr>
		<tr><td colspan="2"></td></tr>
	 </table>
	 </h2>
	<br>
	<% if @message.user_id != current_user.id%>
		<%= link_to 'Reply', :controller => 'messages', :action => 'new', :method => 'post', :messageid => @message.id %>
	<% end %>
 							<!-- End Of Content -->

		<p class="nobottomgap"></p>
	</div>
<div class="bottom-left"></div><div class="bottom-right"></div>
</div> <!-- End Page Content -->
</div>
