<h1>Your Articles</h1>
<br>
<div id="pagecontent">
<div class="top-left"></div><div class="top-right"></div>
	<div class="inside">
		<p class="notopgap">&nbsp;</p>
		<!-- Start Of Content -->
  	<!-- Your content goes here -->
	<% if @articles.size == 0%>
		No Articles Saved Yet
		<br>
	<% else %>
		<table width="100%">
		  <tr>
		    <th>Title</th>
		    <th>Popup?</th>
		    <th>Description</th>
		  </tr>

		<% x = 2 %>
		<% @articles.each do |article| %>
		<% newsclass = "row1bg"
		   newsclass = "row2bg" if x % 2 == 0
		   x += 1
		%>
		 <tr class="<%= newsclass %>">		
		    <td><%=h article.title %></td>
		    <td><%=h article.as_popup %></td>
		    <td><%= truncate_words(article.description, 8) %></td>
		    <td><%= link_to 'Read Article', article %></td>
			<% if current_user && current_user.is_admin%>
			    <td><%= link_to 'Edit', edit_article_path(article) %></td>
			    <td><%= link_to 'Delete', article, :confirm => 'Are you sure?', :method => :delete %></td>
			<% end %>
		  </tr>
		<% end %>
		</table>
		<% end %>

		<br />
		<% if current_user && current_user.is_admin%>
			<%= link_to 'New article', new_article_path %>
		<% end %>
		<br />

	<!-- End Of Content -->
	<br>
	<p class="nobottomgap"></p>
</div>
<div class="bottom-left"></div><div class="bottom-right"></div>
</div> <!-- End Page Content -->

		