<h1>New testing</h1>

<% form_for(@testing) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :test %><br />
    <%= f.text_field :test %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', testings_path %>