<h1>User Profile</h1>
<%= flash[:notice] %>
<div id="pagecontent">
<div class="top-left"></div><div class="top-right"></div>
	<div class="inside">
		<p class="notopgap">&nbsp;</p>
		<!-- Start Of Content -->
<div id="profiletext">
	<table cellspacing="10" width="100%">
		<tr>
			<td>	
				Login:
			</td>
			<td>
				<%= @user.login %>
			</td>
		</tr>
		<tr>
			<td>Firstname:</td>
			<td><%= @user.firstname %></td>
		</tr>

		<tr>
			<td>Lastname:</td>
			<td><%= @user.lastname %></td>
		</tr>

		<tr>
			<td>Email:</td>
			<td><%= @user.email %></td>
		</tr>

		<tr>
			<td>Phone:</td>
			<td><%= @user.phone %></td>
		</tr>

		<tr>
			<td>Address:</td>
			<td><%= @user.address2 %></td>
		</tr>
	
		<tr>
			<td>City:</td>
			<td><%= @user.city %></td>
		</tr>
		<tr>
			<td>State:</td>
			<td><%= @user.state %></td>
		</tr>
		<tr>
			<td>Zip Code:</td>
			<td><%= @user.zip %></td>
		</tr>
	</table>
</div>
		<br>
		<% if current_user.is_admin%>
			<%= link_to "Back To User List", :controller => 'users', :action => 'index' %>
		<% end %>
	<!-- End Of Content -->
	<br>
	<p class="nobottomgap"></p>
</div>
<div class="bottom-left"></div><div class="bottom-right"></div>
</div> <!-- End Page Content -->
		