<head>
	<script type="text/javascript" src="/fckeditor/fckeditor.js"></script>
<script>
window.onload = function()
{
    var oFCKeditor = new FCKeditor( 'document_description' ) ;
    oFCKeditor.BasePath = '/fckeditor/';
    oFCKeditor.ReplaceTextarea() ;
}
</script>
</head>

<div id="pagecontent">
<div class="top-left"></div><div class="top-right"></div>
	<div class="inside">
		<p class="notopgap">&nbsp;</p>
		<!-- Start Of Content -->
	    <% form_for @document, :html => { :multipart => true } do |f| %>
		  <%= f.error_messages %>

		  <p>
		    <%= f.label :title %><br />
		    <%= f.text_field :title, :size => '69' %>
		  </p>
		  <p>
		    Show This As A Popup Window <%= f.check_box :as_popup %>
		  </p>
		  <p>
		    <%= f.label :description %><br />
		    <%= f.text_area :description, :cols => "60", :rows => "10"   %>
		  </p>
		  <p>On Which Page Should This Document Appear?<br/>
		<%= collection_select(:document, :preferredpage,  @preferredpages,  :pagevalue, :pagedescription) %>		
		  </p>
		  <% if @document.document_file_name != nil && @document.document_file_name != "" %>
			Current File Name: <%= @document.document_file_name %>
		  <% end %>
		  <p>
		    <%= f.label :document %><br />
		    <%= f.file_field :document %>
		  </p>
		  <p>
		    <%= f.submit 'Save' %>
		  </p>
		<% end %>
		<br />

		<%= link_to 'Back To Document List', documents_path %>
	<!-- End Of Content -->
	<br>
	<p class="nobottomgap"></p>
</div>
<div class="bottom-left"></div><div class="bottom-right"></div>
</div> <!-- End Page Content -->
		
		